*{
  margin: 0px;
  padding: 0px;
}
/*This is bennar section*/
.banner-contact{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 50px 0px 150px;
  background: rgba(229, 84, 115, 0.10);
}
.banner-container{
  width: 500px;
}
.banner-title{
  width: 700px;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
}
.banner-text{
  color: rgba(39, 39, 39, 0.60);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  width: 634px;
}
.banner-image{
  width: 410px;
  height: 510px;
  margin-right: 100px;
}
.btn{
  background-color: #E55473;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: 0;
}
/*main section*/
.title-contact{
  margin-top: 170px;
  text-align: center;
}
.title-contact h2{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.title-contact p{
  color: rgba(39, 39, 39, 0.60);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  margin: 0 auto;
  line-height: 30px;
  width: 594px;
  margin-top: 24px;
}
.our-flower-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  height: 70vh;

}


.flower-img{
  width: 380px;
  height: 450px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  margin-right: 50px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.137);
  
  
}
.flower-img img{
  width: 270px;
  margin-top: 70px;
  display: inline;
  position: absolute;
  left: 50px;
  bottom: 0;

}

.flower-2{
  
  background: rgba(5, 151, 160, 0.15);
}

.flower-3{
  
  background: rgba(71, 125, 17, 0.15);
  margin-right: 0;
}

.img-text a{
 margin-left: 100px;
 color: #272727;
 font-size: 25px;
 font-weight: 700;
}
/*this is logo section*/
.logo-container{
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 150px;

}
.logo-title{
  color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-weight: 600;
font-size: 17px;
}
/*This is another section*/
.another-containt{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 50px 50px 0px 150px;
}
.another-container{
  width: 500px;
}
.another-title{
  color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
span{
  color: #E55473;
  
}
.another-description{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.another-image{
width: 400px;
height: 500px;
margin-right: 100px;
}
/*This is image section*/
.image-container{
  text-align: center;
  margin-top: 100px;
  font-family: Lato;

}
.image-title{
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}
.image-description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.image-img{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 150px 70px 150px;
}
.image-image{
  width: 250px;
  height: 300px;
 
  
}
/*This is last section*/
.last{
  width: 100% ;
}
.last-containet{
  width: 1200px;
  height: 500px;
  background-image: url(Rectangle\ 9.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.last-container{
  text-align: center;
}
.last-info{
  text-align: center;
  margin-top: 150px;
  
}
.last-head{
  color: #272727;

font-family: Lato;
font-size: 40px;
}
.last-btn{
  background-color: #E55473;
  padding: 15px;
  border-radius: 8px;
  border: 0;
}
.last-input{
  padding: 15px;
  width: 500px;
  border-radius: 8px;
  border: 0;
  
}